table { 
	width: 1500px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

th { 
	background: #ffdfa0; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
	
	}

.labels tr td {
	background-color: #f5d9a2;
	font-weight: bold;
	color: black;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}
.img-fluid {
	max-width: 100%;
	height: 50%;
}

.myDiv{
   display: none;
	text-align:center;
}  
.myDiv img{
	margin: 0 auto;
}